$gilroy-similar-font: 'Roboto', sans-serif;
$proxima-nova-similar-font: 'Raleway', sans-serif;

%gilroy-font {
    font-family: $gilroy-similar-font;
}

body{
    font-family: $proxima-nova-similar-font;    
}

body, a {
    color: #3E3E3E;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo {    
    text-decoration: none;

    &__wrapper {
        display: flex;
    }

    &__left {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 10px;
        background: #FED036;
        border-radius: 3px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;        
    }

    &__right {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 12px 0 23px;
        background: #3E3E3E;
        border-radius: 3px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        position: relative;
        z-index: -1;
        left: -11px;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__items {
        margin: 0;
        padding-left: 0;
        display: flex;
        list-style-type: none;

        li:not(:last-child) {
            margin-right: 40px;
        }

        li {
            a {
                text-decoration: none;
                font-size: 18px;
                line-height: 22px;                
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.menu-button {
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
}

.city {
    border: none;
    background: transparent;
    display: flex;

    &::before {
        content: "";
        display: block;
        width: 22px;
        height: 16px;
        margin-right: 4px;
        background-image: url(../images/city-dropdown.svg);
        background-repeat: no-repeat;
    }
}

.nav-phone {
    font-family: $gilroy-similar-font;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;

    &__numbers {
        color: #FED036;
    }
}

.header {
    height: 678px;
    background: #FED036;    

    &__container {
        display: flex;
        height: 100%;
    }

    &__item {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slogan {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }

    &__title {
        font-weight: 900;
        font-size: 60px;
        line-height: 76px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__sub-title {
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 21px;
            height: 22px;
            margin-right: 10px;
            background-image: url(../images/sub-title-icon.png);
            background-repeat: no-repeat;
        }
    }
}

.phone-form {
    &__content {
        display: flex;
    }

    &__phone-wrapper {
        position: relative;
    }

    &__phone {
        width: 335px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 3px;
        padding-left: 72px;
        font-size: 18px;
        line-height: 22px;
        border: none;
        box-sizing: border-box;
    }

    &__phone:focus {
        border: 1px solid #3c93f0;
        outline: none;
    }

    &__phone-icon {
        position: absolute;
        z-index: 1;
        display: block;
        width: 27px;
        height: 32px;
        left: 13px;
        top: calc(50% - 16px);
        background-image: url(../images/flag-rus.png);
        background-repeat: no-repeat;
    }

    &__phone-dropdown {
        position: absolute;
        z-index: 1;
        display: block;
        width: 8px;
        height: 6px;
        left: 45px;
        top: calc(50% - 3px);
        background-image: url(../images/dropdown.png);
        background-repeat: no-repeat;
    }

    &__submit {
        width: 163px;
        height: 60px;
        background: #3C93F0;
        border-radius: 3px;
        @extend %gilroy-font;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        border: none;
        position: relative;
        left: -3px;
        z-index: 1;
    }
}