@charset "UTF-8";
.nav__phone, .order__safety, .phone-form__submit, .mobile-popup-menu__phone, .mobile-popup-menu__phone-code, .mobile-popup-menu__call-master-btn, .popup-menu__tab-link, .section-header__title, .find-master__find-btn, .reviews__show-all-btn, .rating__value, .about-item__title, .about-info__title, .footer {
  font-family: "Roboto", sans-serif;
}

.popup-menu__item::before, .city-popup-menu__list-item::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 9px;
  margin-bottom: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(#09D743), to(#09D743)), -webkit-gradient(linear, left bottom, left top, from(#09D743), to(#09D743)), -webkit-gradient(linear, left bottom, left top, from(#09D743), to(#09D743)), #09D743;
  background: linear-gradient(0deg, #09D743, #09D743), linear-gradient(0deg, #09D743, #09D743), linear-gradient(0deg, #09D743, #09D743), #09D743;
}

body {
  font-family: "Raleway", sans-serif;
}

body, a {
  color: #3E3E3E;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .container {
    max-width: 864px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 688px;
  }
}

.page__order, .page__help {
  margin-bottom: 70px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .page__order, .page__help {
    margin-bottom: 41px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page__order, .page__help {
    margin-bottom: 40px;
  }
}

.page__masters {
  margin-bottom: 109px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .page__masters {
    margin-bottom: 27px;
  }
}

.page__reviews {
  margin-bottom: 70px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .page__reviews {
    margin-bottom: 55px;
  }
}

.nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "logo menu city phone";
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  height: 75px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .nav {
    height: 55px;
        grid-template-areas: "logo menu space phone";
  }
}

@media (max-width: 1239px) {
  .nav {
    -ms-grid-columns: auto auto 1fr auto;
        grid-template-columns: auto auto 1fr auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav {
    height: 45px;
  }
}

@media (max-width: 1024px) {
  .nav {
        grid-template-areas: "logo city space menu";
  }
}

@media (max-width: 767px) {
  .nav {
    height: 35px;
  }
}

.nav__city-container {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: city;
  height: 100%;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .nav__city-container {
    display: none;
  }
}

.nav__city-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: phone;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .nav__phone {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 1024px) {
  .nav__phone {
    display: none;
  }
}

.nav__phone-numbers {
  color: #FED036;
}

.nav__space {
  grid-area: space;
  display: none;
}

@media (max-width: 1239px) {
  .nav__space {
    display: block;
  }
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  text-decoration: none;
}

.logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  padding: 0 10px;
  background: #FED036;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo__left {
    height: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 767px) {
  .logo__left {
    height: 21px;
    font-size: 13px;
    line-height: 16px;
    margin-left: 11px;
  }
}

.logo__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  padding: 0 12px 0 23px;
  background: #3E3E3E;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  z-index: -1;
  left: -11px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo__right {
    height: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 767px) {
  .logo__right {
    height: 21px;
    font-size: 13px;
    line-height: 16px;
  }
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 40px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .menu__list {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .menu__list {
    display: none;
  }
}

.menu__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.menu__link:hover {
  text-decoration: underline;
}

#menu__button {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  #menu__button {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 1024px) {
  #menu__button {
    display: none;
  }
}

#menu__button::before {
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#menu__mobile-button {
  border: none;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  #menu__mobile-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  #menu__mobile-button {
    margin-right: 6px;
  }
}

#menu__mobile-button::before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  background-image: url(../images/menu-mob.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#city {
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color: #000;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  #city {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 1024px) {
  #city {
    font-size: 13px;
    line-height: 16px;
  }
}

#city:hover {
  text-decoration: underline;
}

#city::before {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../images/city-dropdown.svg);
  background-repeat: no-repeat;
}

.order {
  height: 678px;
  background: #FED036;
  position: relative;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .order {
    height: 560px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .order {
    height: 450px;
  }
}

.order__safety {
  position: absolute;
  width: 46px;
  height: 193px;
  left: 0;
  top: calc(50% - 96px);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #3C93F0;
  border-radius: 3px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .order__safety {
    width: 28px;
    height: 178px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 1024px) {
  .order__safety {
    display: none;
  }
}

.order__safety::before {
  content: "";
  display: block;
  width: 31px;
  height: 22px;
  margin-bottom: 8px;
  background-image: url(../images/mask-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .order__safety::before {
    width: 26px;
    height: 20px;
  }
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.order__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__slogan {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .order__slogan {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .order__slogan {
    font-size: 20px;
    line-height: 24px;
  }
}

.order__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 76px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .order__title {
    font-size: 42px;
    line-height: 53px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .order__title {
    font-size: 32px;
    line-height: 40px;
  }
}

.order__sub-title {
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .order__sub-title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .order__sub-title {
    font-size: 14px;
    line-height: 17px;
  }
}

.order__sub-title::before {
  content: "";
  display: block;
  width: 21px;
  height: 22px;
  margin-right: 10px;
  background-image: url(../images/sub-title-icon.png);
  background-repeat: no-repeat;
}

.order__image {
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.phone-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-form__phone-wrapper {
  position: relative;
}

.phone-form__phone {
  width: 335px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 3px;
  padding-left: 72px;
  font-size: 18px;
  line-height: 22px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .phone-form__phone {
    width: 294px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    padding-left: 56px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .phone-form__phone {
    width: 243px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    padding-left: 50px;
  }
}

.phone-form__phone:focus {
  border: 1px solid #3c93f0;
  outline: none;
}

.phone-form__phone_error {
  background: #FDE8E9 !important;
  border: 1px solid #EC1C24 !important;
  color: #EC1C24 !important;
}

.phone-form__phone-icon {
  position: absolute;
  z-index: 1;
  display: block;
  width: 27px;
  height: 23px;
  left: 13px;
  top: calc(50% - 11px);
  background-image: url(../images/flag-rus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .phone-form__phone-icon {
    left: 10px;
    top: calc(50% - 9px);
    width: 24px;
    height: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .phone-form__phone-icon {
    left: 12px;
    top: calc(50% - 8px);
    width: 20px;
    height: 16px;
  }
}

.phone-form__phone-dropdown {
  position: absolute;
  z-index: 1;
  display: block;
  width: 8px;
  height: 6px;
  left: 45px;
  top: calc(50% - 3px);
  background-image: url(../images/dropdown.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .phone-form__phone-dropdown {
    left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .phone-form__phone-dropdown {
    left: 36px;
  }
}

.phone-form__submit {
  width: 163px;
  height: 60px;
  background: #3C93F0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  position: relative;
  left: -3px;
  z-index: 1;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .phone-form__submit {
    width: 138px;
    height: 46px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .phone-form__submit {
    width: 101px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}

.mobile-popup-menu {
  display: none;
}

.mobile-popup-menu__wrapper1 {
  position: relative;
}

.mobile-popup-menu__wrapper2 {
  position: absolute;
  width: 485px;
  height: calc(100vh - 45px);
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 101;
}

@media (max-width: 767px) {
  .mobile-popup-menu__wrapper2 {
    height: calc(100vh - 35px);
    width: 291px;
  }
}

.mobile-popup-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: 100%;
  background: #FFFFFF;
  -webkit-transition: margin-left 0.4s ease;
  transition: margin-left 0.4s ease;
}

.mobile-popup-menu__background {
  position: fixed;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh - 45px);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 100;
}

@media (max-width: 767px) {
  .mobile-popup-menu__background {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    height: calc(100vh - 35px);
  }
}

.mobile-popup-menu__menu1, .mobile-popup-menu__menu2 {
  list-style-type: none;
  padding-left: 0;
}

.mobile-popup-menu__menu1 {
  margin: 30px 0 54px 32px;
}

.mobile-popup-menu__menu2 {
  margin: 0 0 0 32px;
}

.mobile-popup-menu__menu1-item:not(:last-child) {
  margin-bottom: 36px;
}

.mobile-popup-menu__menu2-item:not(:last-child) {
  margin-bottom: 26px;
}

.mobile-popup-menu__menu1-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

@media (max-width: 767px) {
  .mobile-popup-menu__menu1-link {
    font-size: 20px;
    line-height: 24px;
  }
}

.mobile-popup-menu__menu2-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .mobile-popup-menu__menu2-link {
    font-size: 18px;
    line-height: 22px;
  }
}

.mobile-popup-menu__footer {
  text-align: center;
}

.mobile-popup-menu__work-time {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .mobile-popup-menu__work-time {
    font-size: 12px;
    line-height: 15px;
  }
}

.mobile-popup-menu__phone {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: #FED036;
  margin-bottom: 20px;
}

.mobile-popup-menu__phone-code {
  font-size: 24px;
  line-height: 30px;
  color: #3E3E3E;
}

.mobile-popup-menu__call-master {
  height: 60px;
  background: #EDF3F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-popup-menu__call-master-btn {
  width: 151px;
  height: 35px;
  border: none;
  background: #3C93F0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.popup-menu {
  display: none;
}

.popup-menu__wrapper {
  position: relative;
}

.popup-menu__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 979px;
  height: 342px;
  top: 0;
  left: calc(50% - 490px);
  background: #FFFFFF;
  z-index: 101;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease;
  transition: max-height 0.4s ease;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__content {
    width: 866px;
    height: 302px;
  }
}

.popup-menu__background {
  position: fixed;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 100;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__background {
    -webkit-transform: translateY(55px);
            transform: translateY(55px);
    height: calc(100vh - 55px);
  }
}

.popup-menu__tab-links {
  width: 34%;
  background: #F1F1F1;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__tab-links {
    width: 32%;
  }
}

.popup-menu__tab-link {
  height: 65px;
  padding: 19px 0 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__tab-link {
    font-size: 14px;
    line-height: 16px;
    padding: 24px 0 0 30px;
  }
}

.popup-menu__tab-link_active {
  background: #FFFFFF;
}

.popup-menu__tab-list {
  height: 100%;
  width: 66%;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__tab-list {
    width: 68%;
  }
}

.popup-menu__tab {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
}

.popup-menu__tab_active {
  display: block !important;
}

.popup-menu__tab-image {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__tab-image {
    width: 223px;
    bottom: auto;
    top: 70px;
  }
}

.popup-menu__list {
  list-style-type: none;
  margin: 31px 0 20px 47px;
  width: 370px;
  padding-left: 0;
  -webkit-columns: 2;
          columns: 2;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__list {
    margin: 31px 0 10px 16px;
    width: 330px;
  }
}

.popup-menu__item {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 19px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .popup-menu__item {
    font-size: 16px;
    line-height: 19px;
  }
}

.popup-menu__item::before {
  content: "";
}

.popup-menu__more-btn {
  background: #3C93F0;
  border: none;
  border-radius: 3px;
  width: 130px;
  height: 42px;
  margin-left: 47px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-menu__more-btn::after {
  content: "";
  display: block;
  width: 10px;
  height: 11px;
  margin-left: 5px;
  background-image: url(../images/details.svg);
  background-repeat: no-repeat;
}

.city-popup-menu {
  display: none;
}

.city-popup-menu__wrapper {
  position: relative;
}

.city-popup-menu__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 284px;
  height: 109px;
  top: 75px;
  left: calc(50% - 135px);
  background: #FFFFFF;
  z-index: 101;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease;
  transition: max-height 0.4s ease;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .city-popup-menu__content {
    top: 55px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .city-popup-menu__content {
    top: 45px;
  }
}

@media (max-width: 767px) {
  .city-popup-menu__content {
    top: 35px;
  }
}

.city-popup-menu__background {
  position: fixed;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 100;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .city-popup-menu__background {
    -webkit-transform: translateY(55px);
            transform: translateY(55px);
    height: calc(100vh - 55px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .city-popup-menu__background {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    height: calc(100vh - 45px);
  }
}

@media (max-width: 767px) {
  .city-popup-menu__background {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    height: calc(100vh - 35px);
  }
}

.city-popup-menu__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.city-popup-menu__list-item {
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
}

.city-popup-menu__list-item::before {
  content: "";
}

.city-popup-menu__list-item:hover {
  text-decoration: underline;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-item {
  width: 400px;
  height: 327px;
  background: #EDF3F6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item {
    width: 276px;
    height: 213px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item {
    width: 220px;
    height: 167px;
  }
}

.help-item__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 30px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item__title {
    font-size: 16px;
    line-height: 19px;
    margin-top: 19px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item__title {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }
}

.help-item__list {
  list-style-type: none;
  margin: 0 0 0 30px;
  padding-left: 0;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item__list {
    margin: 0 0 0 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item__list {
    margin: 0 0 0 10px;
  }
}

.help-item__item {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item__item {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 6px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item__item {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 6px;
  }
}

.help-item__item::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: #3C93F0;
  border-radius: 1px;
  margin-right: 10px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item__item::before {
    width: 5px;
    height: 5px;
    margin-right: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item__item::before {
    width: 4px;
    height: 4px;
    margin-right: 6px;
  }
}

.help-item__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #3C93F0;
  margin: 0 0 30px 30px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item__link {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin: 0 0 20px 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item__link {
    font-size: 8px;
    line-height: 10px;
    margin: 0 0 10px 10px;
  }
}

.help-item__link::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  background-image: url(../images/help-link.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item__link::after {
    margin-left: 6px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item__link::after {
    width: 6px;
    height: 6px;
    margin-left: 4px;
  }
}

.help-item__image {
  position: absolute;
  width: 204px;
  top: 93px;
  right: 18px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help-item__image {
    width: 148px;
    top: 55px;
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help-item__image {
    width: 118px;
    right: 0;
    top: 38px;
  }
}

.help__down-icon {
  margin-bottom: 30px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help__down-icon {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help__down-icon {
    margin-bottom: 10px;
  }
}

.help__section-header {
  margin-bottom: 20px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .help__section-header {
    margin-bottom: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .help__section-header {
    margin-bottom: -5px;
  }
}

.down-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.down-icon__image {
  width: 62px;
  height: 62px;
  background-image: url(../images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .down-icon__image {
    width: 42px;
    height: 42px;
  }
}

.section-header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .section-header__title {
    font-size: 38px;
    line-height: 47px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-header__title {
    font-size: 32px;
    line-height: 39px;
  }
}

.section-header__description {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .section-header__description {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-header__description {
    font-size: 14px;
    line-height: 17px;
  }
}

.masters__section-header {
  margin-bottom: 20px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters__section-header {
    margin-bottom: 11px;
  }
}

.masters__down-icon {
  margin-bottom: 56px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters__down-icon {
    margin-bottom: 37px;
  }
}

.masters__find-master-wrapper {
  margin-bottom: 85px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters__find-master-wrapper {
    margin-bottom: 25px;
  }
}

.find-master-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find-master {
  width: 820px;
  height: 170px;
  background: #EDF3F6;
  border-radius: 3px;
  padding: 27px 0 20px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master {
    width: 570px;
    height: 155px;
    padding: 20px 0 20px 20px;
  }
}

.find-master__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__header {
    margin-bottom: 0;
  }
}

.find-master__header::before {
  content: "";
  display: block;
  width: 5px;
  margin-right: 13px;
  background: #09D743;
  border-radius: 1px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__header::before {
    width: 4px;
    margin-right: 10px;
  }
}

.find-master__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__title {
    font-size: 14px;
    line-height: 140%;
  }
}

.find-master__description {
  font-size: 13px;
  line-height: 16px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__description {
    font-size: 10px;
    line-height: 14px;
    width: 336px;
  }
}

.find-master__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find-master__address {
  width: 283px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 3px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 18px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__address {
    width: 262px;
    height: 32px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 12px;
  }
}

.find-master__address:focus {
  border: 1px solid #3c93f0;
}

.find-master__find-btn {
  width: 120px;
  height: 40px;
  background: #3C93F0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  position: relative;
  left: -3px;
  z-index: 1;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__find-btn {
    width: 88px;
    height: 32px;
    font-size: 10px;
    line-height: 12px;
  }
}

.find-master__note {
  font-size: 11px;
  line-height: 16px;
  color: rgba(62, 62, 62, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__note {
    margin: 0;
    font-size: 10px;
  }
}

.find-master__note::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 9px;
  background: #3C93F0;
  border-radius: 3px;
}

.find-master__image {
  position: absolute;
  right: 45px;
  bottom: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master__image {
    width: 160px;
    height: 130px;
    right: 20px;
    bottom: 40px;
  }
}

.find-master-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master-info {
    display: block;
  }
}

.find-master-info__list {
  margin: 0 0 0 31px;
  padding-left: 0;
  list-style-type: none;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master-info__list {
    margin: 19px 0 0 18px;
  }
}

.find-master-info__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master-info__item {
    font-size: 10px;
    line-height: 12px;
  }
}

.find-master-info__item::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master-info__item::before {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background-size: contain;
  }
}

.find-master-info__item:not(:last-child) {
  margin-bottom: 11px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master-info__item:not(:last-child) {
    margin-bottom: 18px;
  }
}

.find-master-info__image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .find-master-info__image {
    width: 180px;
    bottom: 16px;
    right: -20px;
  }
}

.masters-swiper-wrapper {
  position: relative;
}

.masters-swiper-wrapper .masters-swiper {
  width: 100%;
  height: 396px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper {
    height: 319px;
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__content {
  height: 196px;
  border: 1px solid #EDF3F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 21px 0 34px 25px;
  margin-top: 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 6px;
  left: 0;
  z-index: -2;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__content {
    height: 160px;
    padding: 16px 0 16px 16px;
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__name {
    font-size: 16px;
    line-height: 19px;
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__name::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  margin-top: 11px;
  background: #09D743;
  border-radius: 1px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__name::after {
    height: 4px;
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__experience {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__experience {
    font-size: 14px;
    line-height: 17px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__position {
  font-size: 12px;
  line-height: 15px;
  width: 160px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__position {
    font-size: 10px;
    line-height: 12px;
    width: 120px;
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__image {
  position: absolute;
  right: 0;
  bottom: -40px;
  z-index: -1;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__image {
    height: 210px;
    bottom: -30px;
    right: -15px;
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__description {
  height: 110px;
  background: #EDF3F6;
  border-radius: 3px;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 21px 35px 24px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__description {
    height: 80px;
    padding: 16px;
    font-size: 10px;
    line-height: 12px;
  }
}

.masters-swiper-wrapper .masters-swiper .swiper-slide__description::before {
  content: "";
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 13px;
  margin-right: 16px;
  background-image: url(../images/quote.svg);
  background-repeat: no-repeat;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper .swiper-slide__description::before {
    width: 14px;
    height: 10px;
    margin-right: 10px;
    background-size: contain;
  }
}

.masters-swiper-wrapper .masters-swiper__pagination .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 0;
  margin: 0 8px;
  background: #EDF3F6;
  opacity: 1;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper__pagination .swiper-pagination-bullet {
    width: 48px;
    height: 4px;
    margin: 0 9px;
  }
}

.masters-swiper-wrapper .masters-swiper__pagination .swiper-pagination-bullet-active {
  background: #3C93F0;
}

.masters-swiper-wrapper .masters-swiper__prev {
  left: -70px;
  top: 37%;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper__prev {
    left: -48px;
    top: 40%;
  }
}

.masters-swiper-wrapper .masters-swiper__prev::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/slider-prev.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.masters-swiper-wrapper .masters-swiper__next {
  right: -70px;
  top: 37%;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .masters-swiper-wrapper .masters-swiper__next {
    right: -48px;
    top: 40%;
  }
}

.masters-swiper-wrapper .masters-swiper__next::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/slider-next.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.reviews__section-header {
  margin-bottom: 18px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .reviews__section-header {
    margin-bottom: 11px;
  }
}

.reviews__down-icon {
  margin-bottom: 30px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .reviews__down-icon {
    margin-bottom: 11px;
  }
}

.reviews__clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin-bottom: 30px;
  gap: 20px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .reviews__clients {
    margin-bottom: 9px;
    gap: 0 12px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
  }
}

.reviews__clients-item {
  width: 190px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .reviews__clients-item {
    width: 207px;
    height: 150px;
    margin-bottom: 12px;
  }
}

.reviews__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__show-all-btn {
  border: none;
  background: #3C93F0;
  border-radius: 3px;
  width: 241px;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .reviews__show-all-btn {
    width: 222px;
    height: 48px;
  }
}

.reviews__raiting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__rating-item {
  margin-right: 20px;
}

.rating {
  width: 280px;
  height: 72px;
  border: 1px solid #EDF3F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .rating {
    width: 276px;
  }
}

.rating__value {
  width: 40px;
  height: 60px;
  background-image: url(../images/rating.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.rating__stars-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 9px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rating__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #878787;
}

.rating__company {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating__company-logo {
  width: 80px;
  max-height: 26px;
  -o-object-fit: cover;
     object-fit: cover;
}

.rating__company-logo_yandex {
  margin-bottom: 4px;
}

.rating__count {
  font-size: 12px;
  line-height: 15px;
  color: #878787;
}

.rating-stars {
  position: relative;
  font-size: 16px;
}

.rating-stars::before {
  content: "★★★★★";
  display: block;
  color: #EDF3F6;
}

.rating-stars__active {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.rating-stars__active::before {
  content: "★★★★★";
  display: block;
  color: gold;
}

.about__section-header {
  margin-bottom: 20px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about__section-header {
    margin-bottom: 11px;
  }
}

.about__down-icon {
  margin-bottom: 30px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about__down-icon {
    margin-bottom: 16px;
  }
}

.about__items {
  margin-bottom: 100px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about__items {
    margin-bottom: 30px;
  }
}

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-item {
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item {
    width: 276px;
    height: 119px;
  }
}

.about-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 22px 0 13px 24px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item__title {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 10px 18px;
  }
}

.about-item__text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #EDF3F6;
  border-radius: 3px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item__text-wrapper {
    padding-left: 18px;
  }
}

.about-item__text {
  font-size: 14px;
  line-height: 17px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item__text {
    font-size: 10px;
    line-height: 12px;
    width: 154px;
  }
}

.about-item__text::before {
  content: "";
  display: block;
  width: 5px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #09D743;
  border-radius: 1px;
  margin-right: 13px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item__text::before {
    width: 4px;
    margin-right: 10px;
  }
}

.about-item__image {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-item__image_clock {
  bottom: 8px;
  right: 23px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item__image_clock {
    width: 84px;
    height: 101px;
    right: 11px;
    bottom: 12px;
  }
}

.about-item__image_gear {
  bottom: 24px;
  right: 16px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item__image_gear {
    width: 84px;
    height: 101px;
    bottom: 9px;
    right: 10px;
  }
}

.about-item__image_present {
  bottom: 3px;
  right: 13px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-item__image_present {
    width: 91px;
    height: 126px;
    bottom: -6px;
    right: 7px;
  }
}

.about-info-container1 {
  max-width: 1240px;
  margin: 0 auto;
}

.about-info-container2 {
  position: relative;
  height: 100%;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info-container2 {
    max-width: 864px;
    margin: 0 auto;
  }
}

.about-info {
  height: 735px;
  background-image: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info {
    height: 523px;
  }
}

.about-info__description {
  position: absolute;
  width: 540px;
  height: 348px;
  left: 45px;
  top: 130px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__description {
    width: 400px;
    height: 281px;
    left: 0;
    top: 57px;
  }
}

.about-info__description::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 3px;
}

.about-info__description-text {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 29px 95px 29px 34px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__description-text {
    padding: 30px;
  }
}

.about-info__description-text > p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__description-text > p {
    font-size: 13px;
    line-height: 16px;
  }
}

.about-info__title {
  font-size: 28px;
  line-height: 34px;
  margin: 0;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__title {
    font-size: 22px;
    line-height: 26px;
  }
}

.about-info__description_normal {
  font-weight: 400;
}

.about-info__description_bold {
  font-weight: 700;
}

.about-info__master {
  position: absolute;
  width: 35.887%;
  height: 89.932%;
  -o-object-fit: cover;
     object-fit: cover;
  right: 21.37%;
  bottom: 0;
  background-image: url(../images/about-master.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.about-info__cer-items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  left: 95px;
  bottom: 76px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__cer-items {
    gap: 7px;
    left: 30px;
    bottom: 48px;
  }
}

.about-info__cer {
  width: 100px;
  height: 141px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__cer {
    width: 79px;
    height: 111px;
  }
}

.about-info__pricelist {
  position: absolute;
  width: 280px;
  height: 430px;
  right: 52px;
  top: 130px;
  background: #FFFFFF;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 22px 30px 22px;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__pricelist {
    width: 240px;
    height: 354px;
    top: 57px;
    right: 0;
    padding: 20px;
  }
}

.about-info__pricelist-text1 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.01em;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__pricelist-text1 {
    font-size: 12px;
    line-height: 15px;
  }
}

.about-info__pricelist-text2 {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.01em;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__pricelist-text2 {
    font-size: 10px;
    line-height: 12px;
  }
}

.about-info__pricelist-image {
  width: 235px;
  height: 162px;
  background-image: url(../images/pricelist.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__pricelist-image {
    width: 200px;
    height: 138px;
  }
}

.about-info__pricelist-download-btn {
  border: none;
  background: #FED036;
  border-radius: 3px;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__pricelist-download-btn {
    height: 42px;
    font-size: 10px;
    line-height: 26px;
  }
}

.about-info__pricelist-download-btn::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  background-image: url(../images/download.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.about-info__ficus {
  position: absolute;
  width: 288px;
  height: 165px;
  right: 73px;
  bottom: 0;
  background-image: url(../images/ficus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1025px) and (max-width: 1239px) {
  .about-info__ficus {
    width: 241px;
    height: 123px;
    right: 0;
    bottom: -10px;
  }
}

.footer {
  position: relative;
  height: 260px;
  background: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 0 20px 0;
}

.footer__top-link {
  position: absolute;
  width: 120px;
  height: 35px;
  left: calc(50% - 60px);
  top: -17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background: #3C93F0;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__top-link::after {
  content: "";
  display: block;
  width: 12px;
  height: 13px;
  margin-left: 8px;
  background-image: url(../images/icon-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__phone {
  font-weight: 900;
  font-size: 36px;
  line-height: 45px;
  color: #FED036;
}

.footer__phone-code {
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__email {
  font-size: 14px;
  line-height: 16px;
  color: #FED036;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__email::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url(../images/email.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__codes {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__personal-data {
  font-size: 14px;
  line-height: 16px;
  color: #FED036;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__description {
  width: 595px;
  font-size: 9px;
  line-height: 10px;
  color: #EDF3F6;
  opacity: 0.6;
}
