body{
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo {    
    text-decoration: none;
    margin-right: 37px;

    &__wrapper {
        display: flex;
    }

    &__left {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 10px;
        background: #FED036;
        border-radius: 3px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #3E3E3E;
    }

    &__right {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 12px 0 23px;
        background: #3E3E3E;
        border-radius: 3px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        position: relative;
        z-index: -1;
        left: -11px;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__items {
        margin: 0;
        padding-left: 0;
        display: flex;
        list-style-type: none;

        li:not(:last-child) {
            margin-right: 40px;
        }

        li {
            a {
                text-decoration: none;
                font-size: 18px;
                line-height: 22px;
                color: #3E3E3E;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.menu-button {
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
}
