$gilroy-similar-font: 'Roboto', sans-serif;
$proxima-nova-similar-font: 'Raleway', sans-serif;

%gilroy-font {
    font-family: $gilroy-similar-font;
}

%li-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 9px;
    margin-bottom: 1px;
    background: linear-gradient(0deg, #09D743, #09D743), linear-gradient(0deg, #09D743, #09D743), linear-gradient(0deg, #09D743, #09D743), #09D743;
}

body{
    font-family: $proxima-nova-similar-font;    
}

body, a {
    color: #3E3E3E;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.page {
    &__order {
        margin-bottom: 70px;
    }

    &__help {
        margin-bottom: 70px;
    }

    &__masters {
        margin-bottom: 70px;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo {    
    text-decoration: none;

    &__wrapper {
        display: flex;
    }

    &__left {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 10px;
        background: #FED036;
        border-radius: 3px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;        
    }

    &__right {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 12px 0 23px;
        background: #3E3E3E;
        border-radius: 3px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        position: relative;
        z-index: -1;
        left: -11px;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__city-container {
        height: 100%;
    }

    &__city-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__list {
        margin: 0;
        padding-left: 0;
        display: flex;
        list-style-type: none;
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    &__link {
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;                

        &:hover {
            text-decoration: underline;
        }    
    }
}

#menu-button {
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#city {
    border: none;
    background: transparent;
    display: flex;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &::before {
        content: "";
        display: block;
        width: 22px;
        height: 16px;
        margin-right: 4px;
        background-image: url(../images/city-dropdown.svg);
        background-repeat: no-repeat;
    }
}

.nav-phone {
    font-family: $gilroy-similar-font;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;

    &__numbers {
        color: #FED036;
    }
}

.order {
    height: 678px;
    background: #FED036; 
    
    &__container {
        display: flex;
        height: 100%;
    }

    &__item {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slogan {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }

    &__title {
        font-weight: 900;
        font-size: 60px;
        line-height: 76px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__sub-title {
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 21px;
            height: 22px;
            margin-right: 10px;
            background-image: url(../images/sub-title-icon.png);
            background-repeat: no-repeat;
        }
    }
}

.phone-form {
    &__content {
        display: flex;
    }

    &__phone-wrapper {
        position: relative;
    }

    &__phone {
        width: 335px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 3px;
        padding-left: 72px;
        font-size: 18px;
        line-height: 22px;
        border: none;
        box-sizing: border-box;

        &:focus {
            border: 1px solid #3c93f0;
            outline: none;
        }    

        &_error {
            background: #FDE8E9 !important;
            border: 1px solid #EC1C24 !important;
        }    
    }

    &__phone-icon {
        position: absolute;
        z-index: 1;
        display: block;
        width: 27px;
        height: 32px;
        left: 13px;
        top: calc(50% - 16px);
        background-image: url(../images/flag-rus.png);
        background-repeat: no-repeat;
    }

    &__phone-dropdown {
        position: absolute;
        z-index: 1;
        display: block;
        width: 8px;
        height: 6px;
        left: 45px;
        top: calc(50% - 3px);
        background-image: url(../images/dropdown.png);
        background-repeat: no-repeat;
    }

    &__submit {
        width: 163px;
        height: 60px;
        background: #3C93F0;
        border-radius: 3px;
        @extend %gilroy-font;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        position: relative;
        left: -3px;
        z-index: 1;
    }
}

.popup-menu {
    display: none;

    &__wrapper {
        position: relative;
    }

    &__content {
        position: absolute;
        display: flex;
        width: 979px;
        height: 342px;        
        top: 0;
        left: calc(50% - 490px);    
        background: #FFFFFF;    
        z-index: 101;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    &__background {
        position: fixed;
        transform: translateY(75px);
        left: 0;
        top: 0;
        width: 100vw;
        height: calc(100vh - 75px);
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.4s ease;
        z-index: 100;
    }

    &__tab-links {
        width: 34%;
        background: #F1F1F1;
    }
    
    &__tab-link {
        height: 65px;
        padding: 19px 0 0 35px;
        box-sizing: border-box;
        @extend %gilroy-font;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;

        &_active {
            background: #FFFFFF;
        }    
    }

    &__tab-list {
        height: 100%;
        width: 66%;
    }
    
    &__tab {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    &__tab-image {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__list {
        list-style-type: none;
        margin: 31px 0 20px 47px;
        width: 370px;
        padding-left: 0;
        columns: 2;
    }

    &__item {
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 19px;

        &::before {
            content: "";
            @extend %li-marker;
        }    
    }

    &__more-btn {
        background: #3C93F0;
        border: none;
        border-radius: 3px;
        width: 130px;
        height: 42px;
        margin-left: 47px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            display: block;
            width: 10px;
            height: 11px;
            margin-left: 5px;
            background-image: url(../images/details.svg);
            background-repeat: no-repeat;
        }    
    }
}

#popup-menu__tab2,
#popup-menu__tab3 {
    display: none;
}

.city-popup-menu {
    display: none;

    &__wrapper {
        position: relative;
    }

    &__content {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 284px;
        height: 109px;
        top: 75px;
        left: calc(50% - 135px);
        background: #FFFFFF;    
        z-index: 101;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    &__background {
        position: fixed;
        transform: translateY(75px);
        left: 0;
        top: 0;
        width: 100vw;
        height: calc(100vh - 75px);
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.4s ease;
        z-index: 100;
    }

    &__list {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
    }

    &__list-item {
        margin-bottom: 13px;
        cursor: pointer;
        font-size: 18px;
        line-height: 22px;

        &::before {
            content: "";
            @extend %li-marker;
        }
    
        &:hover {
            text-decoration: underline;
        }    
    }
}

.help-list {
    display: flex;
    justify-content: space-between;
}

.help-item {
    width: 400px;
    height: 327px;
    background: #EDF3F6;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-top: 30px;
    }

    &__list {
        list-style-type: none;
        margin: 0 0 0 30px;
        padding-left: 0;
    }
    
    &__item {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 7px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            background: #3C93F0;
            border-radius: 1px;
            margin-right: 10px;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #3C93F0;
        margin: 0 0 30px 30px;
        text-decoration: none;
        display: flex;
        align-items: center;

        &::after {
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            margin-left: 10px;
            background-image: url(../images/help-link.svg);
            background-repeat: no-repeat;
        }
    }

    &__image {
        position: absolute;
        width: 204px;
        top: 93px;
        right: 18px;
    }
}

.help {
    &__down-icon {
        margin-bottom: 30px;
    }

    &__section-header {
        margin-bottom: 20px;
    }
}

.down-icon {
    display: flex;
    justify-content: center;

    &__image {
        width: 62px;
        height: 62px;
        background-image: url(../images/down-arrow.svg);
        background-repeat: no-repeat;
    }    
}

.section-header {
    &__title {
        @extend %gilroy-font;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-align: center;   
        margin-bottom: 20px;    
    }

    &__description {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin: 0;
    }
}

.masters {
    &__section-header {
        margin-bottom: 20px;
    }
    
    &__down-icon {
        margin-bottom: 56px;
    }

    &__find-master-wrapper {
        margin-bottom: 85px;
    }
}

.find-master-wrapper {
    display: flex;
}

.find-master {
    width: 820px;
    height: 170px;
    background: #EDF3F6;
    border-radius: 3px;
    padding: 27px 0 20px 34px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &__header {
        display: flex;
        margin-bottom: 21px;

        &::before {
            content: "";
            display: block;
            width: 5px;
            margin-right: 13px;
            background: #09D743;
            border-radius: 1px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__description {
        font-size: 13px;
        line-height: 16px;
    }

    &__form {
        display: flex;
    }

    &__address {
        width: 283px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 3px;
        font-size: 14px;
        line-height: 17px;
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: 0 18px;

        &:focus {
            border: 1px solid #3c93f0;
        }
    }

    &__find-btn {
        width: 120px;
        height: 40px;
        background: #3C93F0;
        border-radius: 3px;
        @extend %gilroy-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        position: relative;
        left: -3px;
        z-index: 1;
    }

    &__note {
        font-size: 11px;
        line-height: 16px;        
        color: rgba(62, 62, 62, 0.5);
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            margin-right: 9px;
            background: #3C93F0;
            border-radius: 3px;
        }
    }

    &__image {
        position: absolute;
        right: 45px;
        bottom: 28px;
    }
}

.find-master-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;

    &__list {
        margin: 0 0 0 31px;
        padding-left: 0;
        list-style-type: none;
    }

    &__item {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 8px;
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 11px;
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.masters-swiper-wrapper {
    position: relative;

    .masters-swiper {
        width: 100%;
        height: 396px;
    
        .swiper-slide {
            &__content {
                height: 196px;
                border: 1px solid #EDF3F6;
                box-sizing: border-box;
                border-radius: 3px;
                padding: 21px 0 34px 25px;
                margin-top: 20px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                top: 6px;
                left: 0;
                z-index: -2;
            }
        
            &__name {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
        
                &::after {
                    content: "";
                    display: block;
                    width: 80px;
                    height: 5px;
                    margin-top: 11px;
                    background: #09D743;
                    border-radius: 1px;
                }
            }
        
            &__experience {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                transform: translateY(-7px);
            }
        
            &__position {
                font-size: 12px;
                line-height: 15px;
                width: 160px;
            }
        
            &__image {
                position: absolute;
                right: 0;
                bottom: -40px;
                z-index: -1;
            }
        
            &__description {
                height: 110px;
                background: #EDF3F6;
                border-radius: 3px;
                font-size: 14px;
                line-height: 17px;
                box-sizing: border-box;
                padding: 21px 35px 24px 25px;
                display: flex;
        
                &::before {
                    content: "";
                    display: block;
                    min-width: 18px;
                    height: 13px;
                    margin-right: 16px;
                    background-image: url(../images/quote.svg);
                    background-repeat: no-repeat;
                }
            }
        }

        &__pagination {
            .swiper-pagination-bullet {
                width: 50px;
                height: 5px;
                border-radius: 0;
                margin: 0 8px;
                background: #EDF3F6;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                background: #3C93F0;
            }
        }
    } 
    
    .masters-swiper__prev {
        left: -70px;
        top: 37%;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-image: url(../images/slider-prev.svg);
        }
    }

    .masters-swiper__next {
        right: -70px;
        top: 37%;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-image: url(../images/slider-next.svg);
        }
    }
}
