.phone-form__submit, .popup-menu__tab-link {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

body, a {
  color: #3E3E3E;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.logo {
  text-decoration: none;
}

.logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  padding: 0 10px;
  background: #FED036;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.logo__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  padding: 0 12px 0 23px;
  background: #3E3E3E;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  z-index: -1;
  left: -11px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__items {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.menu__items li:not(:last-child) {
  margin-right: 40px;
}

.menu__items li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.menu__items li a:hover {
  text-decoration: underline;
}

#menu-button {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
}

.city {
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.city::before {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../images/city-dropdown.svg);
  background-repeat: no-repeat;
}

.nav-phone {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
}

.nav-phone__numbers {
  color: #FED036;
}

.order {
  height: 678px;
  background: #FED036;
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.order__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__slogan {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.order__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 76px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.order__sub-title {
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__sub-title::before {
  content: "";
  display: block;
  width: 21px;
  height: 22px;
  margin-right: 10px;
  background-image: url(../images/sub-title-icon.png);
  background-repeat: no-repeat;
}

.phone-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-form__phone-wrapper {
  position: relative;
}

.phone-form__phone {
  width: 335px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 3px;
  padding-left: 72px;
  font-size: 18px;
  line-height: 22px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.phone-form__phone:focus {
  border: 1px solid #3c93f0;
  outline: none;
}

.phone-form__phone-icon {
  position: absolute;
  z-index: 1;
  display: block;
  width: 27px;
  height: 32px;
  left: 13px;
  top: calc(50% - 16px);
  background-image: url(../images/flag-rus.png);
  background-repeat: no-repeat;
}

.phone-form__phone-dropdown {
  position: absolute;
  z-index: 1;
  display: block;
  width: 8px;
  height: 6px;
  left: 45px;
  top: calc(50% - 3px);
  background-image: url(../images/dropdown.png);
  background-repeat: no-repeat;
}

.phone-form__submit {
  width: 163px;
  height: 60px;
  background: #3C93F0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  border: none;
  position: relative;
  left: -3px;
  z-index: 1;
}

.popup-menu {
  display: none;
}

.popup-menu__wrapper {
  position: relative;
}

.popup-menu__content {
  position: absolute;
  display: none;
  /* flex */
  width: 979px;
  height: 342px;
  top: 0;
  left: calc(50% - 490px);
  background: #FFFFFF;
  z-index: 101;
}

.popup-menu__background {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup-menu__tab-links {
  width: 34%;
  background: #F1F1F1;
}

.popup-menu__active-tab-link {
  background: #FFFFFF;
}

.popup-menu__tab-link {
  height: 65px;
  padding: 19px 0 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.popup-menu__tab-list {
  height: 100%;
  width: 66%;
}

.popup-menu__tab {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.popup-menu__tab-image {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.popup-menu__tab-ul-wrapper {
  margin: 31px 0 0 57px;
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-menu__tab-ul {
  list-style-type: none;
  padding-left: 0;
}

.popup-menu__tab-li {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-menu__tab-li::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 9px;
  background: -webkit-gradient(linear, left bottom, left top, from(#09D743), to(#09D743)), -webkit-gradient(linear, left bottom, left top, from(#09D743), to(#09D743)), -webkit-gradient(linear, left bottom, left top, from(#09D743), to(#09D743)), #09D743;
  background: linear-gradient(0deg, #09D743, #09D743), linear-gradient(0deg, #09D743, #09D743), linear-gradient(0deg, #09D743, #09D743), #09D743;
}

.popup-menu__more-btn {
  background: #3C93F0;
  border: none;
  border-radius: 3px;
  width: 130px;
  height: 42px;
  margin-left: 57px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-menu__more-btn::after {
  content: "";
  display: block;
  width: 10px;
  height: 11px;
  margin-left: 5px;
  background-image: url(../images/details.svg);
  background-repeat: no-repeat;
}

#popup-menu__tab2,
#popup-menu__tab3 {
  display: none;
}
